n8nessentials/FuturaProof001A.json
{
  "name": "FuturaProof001A",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1l_GfI6NnC4Q32ZnvBCS0DXMoTU2GXr65",
            "mode": "list",
            "cachedResultName": "IMUIIRAGS",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1l_GfI6NnC4Q32ZnvBCS0DXMoTU2GXr65"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "a4621796-5fc4-40b2-9a80-a5ab864c8c18",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oqH6BmnqEUUzOYWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "1f4956ff-b17c-4433-8b3c-d8e49ff8c63c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oqH6BmnqEUUzOYWl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "imuiirags2",
          "mode": "list",
          "cachedResultName": "imuiirags2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "8893a475-7d06-4e5e-b89c-41a04cde1ada",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "gZHtFeep7JFiw5n6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        176
      ],
      "id": "78bdb6e8-16ff-4003-9e8c-f6408da32b85",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "84TtebRYLxIqfnFf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        176
      ],
      "id": "9f154d47-45a7-4a47-b2c9-b07607c3e137",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        512,
        336
      ],
      "id": "1dda4d49-3f77-4c12-8e50-79c0b31d15c1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        208
      ],
      "id": "d328cf72-6bb6-4378-ac3f-4b336eff2401",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3d92e54-ef70-416e-87cd-639f2968e104",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edd6187d98751c155250eb29822dfed95a74748822e3bbe7f7eeb8cd43286119"
  },
  "id": "AjqMYAJ4h8Vfks3h",
  "tags": []
}