n8nessentials/FuturaProof001B (1).json
{
  "name": "FuturaProof001B",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message ? $json.message.text : $json.prompt_lengkap }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "2937c2b5-f388-4900-92de-b89f8175cdd7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        208
      ],
      "id": "d3370e75-9beb-4448-a1d2-e2f115ae56c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "84TtebRYLxIqfnFf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        208
      ],
      "id": "2c7bb80c-4cfe-40cd-a26b-5950e78e053d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Asisten Mahasiswa/i Universitas Islam Indonesia, Chatbot, IM UII, Informasi Tentang UII, Personal Assistant, Teman",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        416,
        208
      ],
      "id": "33981b93-7203-4fff-a9eb-8353535f8e7e",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        384
      ],
      "id": "20117a65-272e-44bb-a12a-9297315966d8",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "84TtebRYLxIqfnFf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "imuiirags2",
          "mode": "list",
          "cachedResultName": "imuiirags2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        384
      ],
      "id": "182aa53e-202a-4c63-a147-c41dbbd9a2c5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "gZHtFeep7JFiw5n6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        576
      ],
      "id": "74bd2165-9c55-4600-998d-6e0915555025",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "84TtebRYLxIqfnFf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        16
      ],
      "id": "c0535aec-fb61-414d-9e00-7fd86774ca22",
      "name": "Telegram Trigger",
      "webhookId": "514baf82-b16f-4f54-ba9e-7233664f14a0",
      "credentials": {
        "telegramApi": {
          "id": "eURTFNpyzg7MgFaR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        0
      ],
      "id": "816c0558-6632-4152-90c2-dde1b3a67707",
      "name": "Send a text message",
      "webhookId": "65caa9cd-c713-4bd0-b24e-e9525c31548c",
      "credentials": {
        "telegramApi": {
          "id": "eURTFNpyzg7MgFaR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73962c42-75e0-475c-a505-b6ecad022d0a",
              "leftValue": "={{ $json.message.photo }}{{ $json.message.photo[0].file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "91476e39-a30c-4e7a-9d88-365691b19e55",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        16
      ],
      "id": "dbf97b0f-6328-4bb2-b901-4e9f7b97b351",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length-1].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        96
      ],
      "id": "8b41a848-1aac-4ec1-b01b-4df4a4c8e56a",
      "name": "Get a file",
      "webhookId": "20f2b419-e20b-4edc-8127-d8d347707cac",
      "credentials": {
        "telegramApi": {
          "id": "eURTFNpyzg7MgFaR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4fab26b-7094-4452-a9a0-847ba5246b04",
              "name": "prompt_lengkap",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        128
      ],
      "id": "24c6e8aa-578b-493d-8747-8d72cc30e4b1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "imageUrls": "=https://api.telegram.org/file/bot8467988753:AAHR3ZEYbNyv_EpA0Yb3kI9BFMnM-l37sOs/{{ $('Get a file').item.json.result.file_path }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -352,
        208
      ],
      "id": "ba56ce7e-c7ec-42e7-b92c-f40c83d21c66",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "84TtebRYLxIqfnFf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "locationSettings": {},
        "languageSettings": {},
        "searchOptions": {},
        "timeFilters": {},
        "pagination": {},
        "advancedOptions": {},
        "requestOptions": {}
      },
      "type": "@searchapi/n8n-nodes-searchapi.searchApiTool",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "fa6df3a2-9d63-4daa-9c9e-4cc6731c2aae",
      "name": "Search google in SearchApi",
      "credentials": {
        "searchApi": {
          "id": "2GTqrKYfsW3QGiKt",
          "name": "SearchApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search google in SearchApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d90cd77d-9b64-4bea-9a06-2bbaf938c4b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edd6187d98751c155250eb29822dfed95a74748822e3bbe7f7eeb8cd43286119"
  },
  "id": "yTv5YxPkf6uX0sN7",
  "tags": []
}